*.pyc
db/api/jsons/*
.python-version
settings.ini
.vagrant
*.egg-info
*.DS_Store
/portal/db/api/jsons
client_secret.json
downloads/emergency.csv
*.ini
*.log
*.pid
*.txt
*.sql
*.zip
student_photos/
*.deb
*.pdf
*.csv
*.sublime-project
*.sublime-workspace
build/
